/**
 * CSS variables
 * Applying as default screen and breakpoint: '3xl' - 1920px
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen 3xl {
    :root {
        /* Color and typography */
        /*H1*/
        --Color-Font-Maintitle-Font-Size: 48px;
        --Color-Font-Maintitle-Line-Height: 54px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 40px;
        --Color-Font-Subtitle-Line-Height: 48px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 32px;
        --Color-Font-Subsubtitle-Line-Height: 43px;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 5rem;
    }
}
