/**
 * CSS variables
 * Applying as default screen and breakpoint: '3xl' - 1920px
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen 3xl {
    :root {
        /*Divider*/
        --Color-Divider-Header: #D9D9D9;
        --Color-Divider-Main: #E5E7EB;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 5rem;

        /* Color and typography */
        /*Body*/
        --Color-Font-Paragraph-Font-Size: 18px;
        --Color-Font-Paragraph-Line-Height: 28px;

        /*H1*/
        --Color-Font-Maintitle-Font-Size: 48px;
        --Color-Font-Maintitle-Line-Height: 54px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 40px;
        --Color-Font-Subtitle-Line-Height: 48px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 32px;
        --Color-Font-Subsubtitle-Line-Height: 43px;

        /*Link*/
        --Color-Font-Link: #D8232A;

        /*Header*/
        --Header-Vertical-Padding: 40px;
        --Header-Max-Width: 1000px;

        /*Navigation*/
        --Navigation-Primary-Navigation-Navbar-Spacing: 48px;
        --Navigation-Primary-Navigation-Item-Vertical-Padding: 24px;
        --Navigation-Primary-Navigation-Item-Horizontal-Padding: 0px;
        --Color-Font-Navigation-Font-Size: 18px;
        --Color-Font-Navigation-Line-Height: 28px;
    }
}
