:root {
    /* Color and typography */
    --Color-Font-Main: #1F2937;
    --Basic-Font-Family-Font-Family: "Noto Sans";
    --Color-Font-Maintitle-Font-Size: 36px;
    --Color-Font-Maintitle-Line-Height: 26px;
}
