/**
 * CSS variables
 * Applying as default screen and breakpoint: 'lg' - 1024px
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen lg {
    :root {
        /*Divider*/
        --Color-Divider-Header: #D9D9D9;
        --Color-Divider-Main: #E5E7EB;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 48px;
        --Basic-Body-Vertical-Padding: 40px;

        /* Color and typography */
        /*Body*/
        --Color-Font-Paragraph-Font-Size: 16px;
        --Color-Font-Paragraph-Line-Height: 24px;

        /*H1*/
        --Color-Font-Maintitle-Font-Size: 32px;
        --Color-Font-Maintitle-Line-Height: 43px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 26px;
        --Color-Font-Subtitle-Line-Height: 36px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 22px;
        --Color-Font-Subsubtitle-Line-Height: 33px;

        /*Link*/
        --Color-Font-Link: #D8232A;

        /*Header*/
        --Header-Vertical-Padding: 16px;
        --Header-Max-Width: 1000px;

        /*Navigation*/
        --Navigation-Primary-Navigation-Navbar-Spacing: 48px;
        --Navigation-Primary-Navigation-Item-Vertical-Padding: 24px;
        --Navigation-Primary-Navigation-Item-Horizontal-Padding: 0px;
        --Color-Font-Navigation-Font-Size: 16px;
        --Color-Font-Navigation-Line-Height: 24px;

        /*Main layout content*/
        --Right-Sidebar-Vertical-Padding: 16px;
        --Right-Sidebar-Horizontal-Padding: 16px;

        /*Right sidebar content*/
        --Right-Sidebar-Background: #F0F4F7;

        /*Left sidebar region*/
        --Navigation-Item-Width: 220px;
        --Navigation-Secondary-Navigation-Item-Padding: 12px;
        --Navigation-Secondary-Navigation-Item-All-Levels-Horizontal-Padding: 16px;
        --Navigation-Secondary-Navigation-Item-All-Levels-Vertical-Padding: 16px;
        --Color-Font-Navigation-small-Font-Size: 16px;
        --Color-Font-Navigation-small-Line-Height: 24px;
    }
}
