/**
 * CSS variables
 * Applying as default screen and breakpoint: 'lg' - 1024px
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen lg {
    :root {
        /* Color and typography */
        /*H1*/
        --Color-Font-Maintitle-Font-Size: 32px;
        --Color-Font-Maintitle-Line-Height: 43px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 26px;
        --Color-Font-Subtitle-Line-Height: 36px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 22px;
        --Color-Font-Subsubtitle-Line-Height: 33px;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 3rem;
    }
}
