/**
 * CSS variables
 * Applying as default screen and breakpoint: 'md' - tablet
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen md {
    :root {
        /* Color and typography */
        --Color-Font-Maintitle-Font-Size: 36px;
        --Color-Font-Maintitle-Line-Height: 26px;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 2rem;
    }
}
