/**
 * CSS variables
 * Applying as default screen and breakpoint: 'md' - tablet
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen md {
    :root {
        /*Divider*/
        --Color-Divider-Header: #D9D9D9;
        --Color-Divider-Main: #E5E7EB;

        /*Container padding*/
        --Basic-Body-Horizontal-padding: 32px;
        --Basic-Body-Vertical-Padding: 24px;

        /* Color and typography */
        /*Body*/
        --Color-Font-Paragraph-Font-Size: 16px;
        --Color-Font-Paragraph-Line-Height: 24px;

        /*H1*/
        --Color-Font-Maintitle-Font-Size: 36px;
        --Color-Font-Maintitle-Line-Height: 26px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 22px;
        --Color-Font-Subtitle-Line-Height: 33px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 20px;
        --Color-Font-Subsubtitle-Line-Height: 32px;

        /*Link*/
        --Color-Font-Link: #D8232A;

        /*Header*/
        --Header-Vertical-Padding: 12px;
        --Header-Max-Width: 1000px;

        /*Navigation*/
        --Navigation-Primary-Navigation-Navbar-Spacing: 48px;
        --Navigation-Primary-Navigation-Item-Vertical-Padding: 24px;
        --Navigation-Primary-Navigation-Item-Horizontal-Padding: 0px;
        --Color-Font-Navigation-Font-Size: 16px;
        --Color-Font-Navigation-Line-Height: 24px;
    }
}
