/**
 * CSS variables
 * Applying as default screen and breakpoint: 'xl' - 1280px
 *
 * @see: tailwind.config.js:10 - Breakpoint screen config
 */
@screen xl {
    :root {
        /*Container padding*/
        --Basic-Body-Horizontal-padding: 4rem;

        /* Color and typography */
        /*Body*/
        --Color-Font-Paragraph-Font-Size: 18px;
        --Color-Font-Paragraph-Line-Height: 28px;

        /*H1*/
        --Color-Font-Maintitle-Font-Size: 40px;
        --Color-Font-Maintitle-Line-Height: 48px;

        /*H2*/
        --Color-Font-Subtitle-Font-Size: 32px;
        --Color-Font-Subtitle-Line-Height: 43px;

        /*H3*/
        --Color-Font-Subsubtitle-Font-Size: 26px;
        --Color-Font-Subsubtitle-Line-Height: 36px;

        /*Link*/
        --Color-Font-Link: #D8232A;
    }
}
