.showblock2inactivetab {
    /*Wrapper*/
    display: flex;
    padding: var(--Accordion-Vertical-Padding, 0.75rem) var(--Accordion-Horizontal-Padding, 1rem);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--Color-Background-Element, #F0F4F7);
    min-height: var(--Accordion-Preview-Min-Height, 3.5rem);

    /*Text*/
    color: var(--Color-Font-Main, #1F2937);
    font-size: var(--Color-Font-Paragraph-Font-Size, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Color-Font-Paragraph-Line-Height, 24px); /* 150% */

    /*Replace r/custom.css*/
    text-decoration-line: none !important;
    border: none !important;
    margin: unset !important;
}

.showblock2divinner.expand {
    margin: unset !important;
    color: var(--Color-Font-Main, #1F2937);
    font-size: var(--Color-Font-Paragraph-Font-Size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Color-Font-Paragraph-Line-Height, 24px);
    background: var(--Color-Background-Element, #F0F4F7);
    border: none !important;
    padding: 4px var(--Accordion-Horizontal-Padding, 1rem) var(--Accordion-Vertical-Padding, 1rem) var(--Accordion-Horizontal-Padding, 1rem);
    overflow-y: hidden;
}

/*Replace r/custom.css*/
.showblockactivetab::after,
.showblockinactivetab::after,
.showblock2activetab::after,
.showblock2inactivetab::after {
    right: var(--Accordion-Horizontal-Padding, 1rem);
}
