@import "../../../r/input.css";
@import "./variable/index.css";
@import "./header-navigation.css";
@import "./typography.css";
@import "./main-content.css";
@import "./left-sidebar.css";
@import "./search-result.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 var(--Basic-Body-Horizontal-padding, 1rem);
    }

    body {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
        line-height: var(--Color-Font-Paragraph-Line-Height, 28px);
    }
}
