@import "../../../r/input.css";
@import "./variable.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    /*Breakpoint: 'sm' - mobile*/
    @media (min-width: 480px) {
        .container {
            width: 100%;
            padding: 0 1rem;
        }
    }

    /*Breakpoint: 'md' - tablet*/
    @media (min-width: 768px) {
        .container {
            width: 100%;
            padding: 0 2rem;
        }
    }

    /*Breakpoint: 'lg'*/
    @media (min-width: 1024px) {
        .container {
            width: 100%;
            padding: 0 3rem;
        }
    }

    /*Breakpoint: 'xl'*/
    @media (min-width: 1280px) {
        .container {
            width: 100%;
            padding: 0 4rem;
        }
    }

    /*Breakpoint: '2xl'*/
    @media (min-width: 1544px) {
        .container {
            width: 100%;
            padding: 0 5rem;
        }
    }

    /*Breakpoint: '3xl'*/
    @media (min-width: 1920px) {
        .container {
            width: 100%;
            padding: 0 5rem;
        }

        h1 {
            color: var(--Color-Font-Main, #1F2937);
            font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans");
            font-size: var(--Color-Font-Maintitle-Font-Size, 3rem);
            font-style: normal;
            font-weight: 400;
            line-height: var(--Color-Font-Maintitle-Line-Height, 3.375rem); /* 112.5% */
        }
    }
}
