@import "../../../r/input.css";
@import "./variable/index.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    .container {
        width: 100%;
        padding: 0 var(--Basic-Body-Horizontal-padding, 1rem);
    }

    body {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
        line-height: var(--Color-Font-Paragraph-Line-Height, 28px); /* 155.556% */
    }

    h1 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Maintitle-Font-Size, 3rem);
        line-height: var(--Color-Font-Maintitle-Line-Height, 3.375rem); /* 112.5% */
    }

    h2 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Subtitle-Font-Size, 40px);
        line-height: var(--Color-Font-Subtitle-Line-Height, 48px); /* 120% */
    }

    h3 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Subsubtitle-Font-Size, 32px);
        line-height: var(--Color-Font-Subsubtitle-Line-Height, 43px); /* 134.375% */
    }

    a {
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        color: var(--Color-Font-Link, #D8232A);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
        line-height: var(--Color-Font-Paragraph-Line-Height, 28px); /* 155.556% */
    }

    header {
        display: flex;
        padding: var(--Header-Vertical-Padding, 40px) var(--Basic-Body-Horizontal-padding, 80px);
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        border-bottom: 1px solid var(--Color-Divider-Main, #E5E7EB);
        background: #FFF;
    }

    /*Override style of U5CM csslayout for #navigation*/
    #navigation {
        display: initial;
        vertical-align: initial;
        width: initial;
        background: initial;
        hyphens: initial;
    }

    nav > ul.navigation {
        display: flex;
        padding: 0 var(--Basic-Body-Horizontal-padding, 80px);
        align-items: flex-start;
        gap: var(--Navigation-Primary-Navigation-Navbar-Spacing, 48px);
        align-self: stretch;
        border-bottom: 1px solid var(--Color-Divider-Main, #E5E7EB);
        background: #FFF;
    }

    nav > ul.navigation > li {
        display: flex;
        padding: var(--Navigation-Primary-Navigation-Item-Vertical-Padding, 24px) var(--Navigation-Primary-Navigation-Item-Horizontal-Padding, 0);
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: 4px solid var(--Color-Highlight-Red, #D8232A);
        background: #FFF;
    }

    nav > ul.navigation > li > a {
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Navigation-Font-Size, 16px);
        font-style: normal;
        font-weight: 500;
        line-height: var(--Color-Font-Navigation-Line-Height, 24px); /* 150% */
    }

    nav > ul.navigation > li > a:visited {
        color: var(--Color-Font-Main, #1F2937);
    }

    nav > ul.navigation > li > a:hover {
        color: var(--Color-Highlight-Red, #D8232A);
    }


    /*Content*/
    article.body-content__container {
        display: flex;
        padding: var(--Basic-Body-Vertical-Padding, 54px) 0 0 var(--Basic-Body-Horizontal-padding, 80px);
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    /*Right container region - included right sidebar*/
    article.body-content__container > .body-content__container--right {
        display: flex;
        width: 300px;
        padding: var(--Right-Sidebar-Vertical-Padding, 16px) var(--Right-Sidebar-Horizontal-Padding, 16px);
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    /*Left container region - included left sidebar and main content*/
    article.body-content__container > .body-content__container--left {
        display: flex;
        align-items: flex-start;
        gap: var(--Basic-Body-Horizontal-padding, 80px);
    }

    /*Left sidebar region - included left sidebar*/
    article.body-content__container > .body-content__container--left > .body-content__left-content {
    }

    /*Main content region*/
    article.body-content__container > .body-content__container--left > .body-content__main-content {
        display: flex;
        width: 100%;
        max-width: 1000px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}
