@import "../../../r/input.css";
@import "./variable/index.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    .container {
        width: 100%;

        /*Breakpoint: 'sm' - mobile*/
        @screen sm {
            padding: 0 var(--Basic-Body-Horizontal-padding, 1rem);
        }

        /*Breakpoint: 'md' - tablet*/
        @screen md {
            padding: 0 var(--Basic-Body-Horizontal-padding, 2rem);
        }

        /*Breakpoint: 'lg'*/
        @screen lg {
            padding: 0 var(--Basic-Body-Horizontal-padding, 3rem);
        }

        /*Breakpoint: 'xl'*/
        @screen xl {
            padding: 0 var(--Basic-Body-Horizontal-padding, 4rem);
        }

        /*Breakpoint: '2xl'*/
        @screen 2xl {
            padding: 0 var(--Basic-Body-Horizontal-padding, 5rem);
        }

        /*Breakpoint: '3xl'*/
        @screen 3xl {
            padding: 0 var(--Basic-Body-Horizontal-padding, 5rem);
        }
    }

    h1 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Maintitle-Font-Size, 3rem);
        line-height: var(--Color-Font-Maintitle-Line-Height, 3.375rem); /* 112.5% */
    }

    h2 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Subtitle-Font-Size, 40px);
        line-height: var(--Color-Font-Subtitle-Line-Height, 48px); /* 120% */
    }

    h3 {
        font-style: normal;
        font-weight: 400;
        color: var(--Color-Font-Main, #1F2937);
        font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
        font-size: var(--Color-Font-Subsubtitle-Font-Size, 32px);
        line-height: var(--Color-Font-Subsubtitle-Line-Height, 43px); /* 134.375% */
    }
}
