/*Header region*/
header {
  /*Apply container element*/
  @apply container mx-auto;

  display: flex;
  padding: var(--Header-Vertical-Padding, 40px)
    var(--Basic-Body-Horizontal-padding, 80px);
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-bottom: 1px solid var(--Color-Divider-Main, #e5e7eb);
  background: #fff;
}

/*Override style of U5CM csslayout for #navigation*/
#navigation {
  display: initial !important;
  vertical-align: initial;
  background: initial;
  hyphens: initial;
  width: auto !important;
}

nav#webapp_monalink {
  display: none !important;
}

/*Desktop navigation*/
nav.desktop-navigation {
  width: auto !important;
}

nav.desktop-navigation > ul.navigation {
  /*Apply container element*/
  @apply container mx-auto;

  display: flex;
  padding: 0 var(--Basic-Body-Horizontal-padding, 80px);
  align-items: flex-start;
  gap: var(--Navigation-Primary-Navigation-Navbar-Spacing, 48px);
  align-self: stretch;
  border-bottom: 1px solid var(--Color-Divider-Main, #e5e7eb);
  background: #fff;
}

nav.desktop-navigation > ul.navigation > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 4px solid transparent;
  background: #fff;
  transition: border-bottom 0.1s;
}

nav.desktop-navigation > ul.navigation > li.active,
nav.desktop-navigation > ul.navigation > li:hover {
  border-bottom: 4px solid var(--Color-Highlight-Red, #d8232a);
}

nav.desktop-navigation > ul.navigation > li > a {
  color: var(--Color-Font-Main, #1f2937);
  font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
  font-size: var(--Color-Font-Navigation-Font-Size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Color-Font-Navigation-Line-Height, 24px);
  padding: var(--Navigation-Primary-Navigation-Item-Vertical-Padding, 24px)
    var(--Navigation-Primary-Navigation-Item-Horizontal-Padding, 0);
}

nav.desktop-navigation > ul.navigation > li > a:visited {
  color: var(--Color-Font-Main, #1f2937);
}

nav.desktop-navigation > ul.navigation > li > a:hover {
  color: var(--Color-Highlight-Red, #d8232a);
}

/*Mobile navigation*/
nav.mobile-navigation > ul.navigation {
  @apply p-0;
}

nav.mobile-navigation > ul.navigation > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Color-Divider-Main, #e5e7eb);
  background: #fff;
  transition-property: color, transform;
}

nav.mobile-navigation > ul.navigation > li > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

nav.mobile-navigation > ul.navigation > li > a {
  display: block;
  flex-grow: 1;
  padding: 12px 16px;
}

nav.mobile-navigation > ul.navigation > li[data-activated='true'] {
  border-left: 3px solid var(--Color-Highlight-Red, #d8232a);
}

nav.mobile-navigation > ul.navigation > li[data-activated='false']:hover,
nav.mobile-navigation > ul.navigation > li:not([data-activated]):hover {
  border-left: 3px solid var(--Color-Highlight-Red, #d8232a);
}

nav.mobile-navigation > ul.navigation > li > a {
  @apply no-underline;

  color: var(--Color-Font-Main, #1f2937);
  font-size: var(--Color-Font-Paragraph-Font-Size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Color-Font-Paragraph-Line-Height, 24px);
  /* 150% */
}
