input[type=submit],
input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea,
select {
  padding: 10px 20px;
  color: var(--Basic-Fontsize-Main, #1f2937);
  font-family: 'Noto Sans';
  font-size: var(--Basic-Fontsize-Paragraph-Font-Size, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Basic-Fontsize-Paragraph-Line-Height, 28px);
  /* 155.556% */
  border-radius: 1px;
  border: 1px solid var(--Color-Textfield-Border, #6b7280);
  background: #fff;
}

input[type=submit]::placeholder,
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--Basic-Fontsize-Secondary, #6b7280);
}

input[type=submit]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid var(--Color-Textfield-Border, #6b7280);
  box-shadow: 0 0 0 3px var(--Color-Textfield-Focus, #8655f6);
  transition: all 0.1s ease;
}

input[type=submit]:disabled,
input[type=text]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
textarea:disabled,
select:disabled {
  border: 1px solid var(--Color-Divider-Main, #e5e7eb);
  cursor: not-allowed;
}

input:disabled::placeholder,
textarea:disabled::placeholder,
select:disabled::placeholder {
  color: var(--Basic-Fontsize-Disabled, #9ca3af);
}