/*Content*/
article.body-content__container {
    /*For base screen: mobile, table or small screen */
    display: flex;
    padding: var(--Basic-Body-Vertical-Padding, 16px) var(--Basic-Body-Horizontal-padding, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Basic-Body-Horizontal-padding, 16px);
    flex: 1 0 0;
    align-self: stretch;

    /*For screen bigger than 'lg' */
    @screen lg {
        flex-direction: row;
        padding: var(--Basic-Body-Vertical-Padding, 54px) 0 0 var(--Basic-Body-Horizontal-padding, 80px);
        justify-content: space-between;
        gap: var(--Basic-Body-Horizontal-padding, 64px);
    }
}

/*Right container region - included right sidebar*/
article.body-content__container > .body-content__container--right {
    /*For base screen: mobile, table or small screen */
    background: var(--Right-Sidebar-Background, #F0F4F7);
    display: flex;
    padding: var(--Right-Sidebar-Vertical-Padding, 16px) var(--Right-Sidebar-Horizontal-Padding, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    /*For screen bigger than 'lg' */
    @screen lg {
        width: 300px;
    }
}

/*Left container region - included left sidebar and main content*/
article.body-content__container > .body-content__container--left {
    display: flex;
    align-items: flex-start;
    gap: var(--Basic-Body-Horizontal-padding, 80px);
}

/*Left sidebar region - included left sidebar*/
article.body-content__container > .body-content__container--left > .body-content__left-content {
    /*For base screen: mobile, table or small screen */
    display: none;

    /*For screen bigger than 'xl' */
    @screen xl {
        display: block;
    }
}

/*Main content region*/
article.body-content__container > .body-content__container--left > .body-content__main-content {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
