.search-result {}

.search-result > .search-result__input-container {
    background-color: var(--Search-Result-Input-Container-Bacground-Color, #F0F4F7);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    @screen xl {
        width: 1000px;
        max-width: 1000px;
        gap: 32px;
    }
}

.search-result > .search-result__input-container > .search-result__input-content {
    display: flex;
    padding: var(--Basic-Search-Input-Upper-Padding, 80px) var(--Basic-Search-Input-Horizontal-and-Bottom-Padding, 32px) var(--Basic-Search-Input-Horizontal-and-Bottom-Padding, 32px) var(--Basic-Search-Input-Horizontal-and-Bottom-Padding, 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Basic-Search-Input-Spacing, 24px);
    align-self: stretch;

    @screen 2xl {
        height: 230px;
    }
}

.search-result > .search-result__input-container .search-result__input-label {
    font-size: var(--Color-Font-Maintitle-Font-Size, 48px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Color-Font-Maintitle-Line-Height, 54px);
}

.search-result > .search-result__input-container .search-result__input-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.search-result__input-control > input {
    padding: 10px 20px;
    border-radius: 1px;
    border: 1px solid var(--Color-Textfield-Border, #6B7280);
    background: #FFF;
    box-shadow: 0 0 0 3px var(--Color-Textfield-Focus, #8655F6);
}

.search-result > .search-result__control-bar {
    display: flex;
    padding: 12px var(--Basic-Search-Result-Horizontal-Padding, 32px);
    align-items: center;
    gap: 10px;
    align-self: stretch;
    justify-content: space-between;
    border-bottom: 1px solid var(--Color-Divider-Main, #E5E7EB);
}

.search-result__control-bar .search-result__counter-label {
    color: var(--Color-Font-Secondary, #6B7280);
    font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Color-Font-Paragraph-Line-Height, 28px);
}

/* Result view */
.search-result__view-item--grid {}

.search-result__view-item--list {
    color: var(--Color-Font-Main, #1F2937);
    display: flex;
    padding: var(--Basic-Search-Result-Vertical-Padding, 16px) var(--Basic-Search-Result-Horizontal-Padding, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--Color-Divider-Main, #E5E7EB);
}

.search-result__view-item--list__title {
    color: var(--Color-Font-Main, #1F2937);
    font-size: var(--Color-Font-Subsubtitle-Font-Size, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Color-Font-Subsubtitle-Line-Height, 32px);
}

.search-result__view-item--list__description {
    color: var(--Color-Font-Main, #1F2937);
    font-size: var(--Color-Font-Paragraph-Font-Size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Color-Font-Paragraph-Line-Height, 24px);

    .hitshilite {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-color: rgba(255, 247, 0, 0.25);
        background-color: rgba(255, 247, 0, 0.25);
        text-decoration-thickness: 120%;
        text-underline-offset: -100%;
        text-underline-position: from-font;
    }
}
