h1 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1F2937);
    font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
    font-size: var(--Color-Font-Maintitle-Font-Size, 3rem);
    line-height: var(--Color-Font-Maintitle-Line-Height, 3.375rem); /* 112.5% */
}

h2 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1F2937);
    font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
    font-size: var(--Color-Font-Subtitle-Font-Size, 40px);
    line-height: var(--Color-Font-Subtitle-Line-Height, 48px); /* 120% */
}

h3 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1F2937);
    font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
    font-size: var(--Color-Font-Subsubtitle-Font-Size, 32px);
    line-height: var(--Color-Font-Subsubtitle-Line-Height, 43px); /* 134.375% */
}

a {
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: var(--Color-Font-Link, #D8232A);
    font-family: var(--Basic-Font-Family-Font-Family, "Noto Sans"), sans-serif;
    font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
    line-height: var(--Color-Font-Paragraph-Line-Height, 28px); /* 155.556% */
}