header,
article {
  h1 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1f2937);
    font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
    font-size: var(--Color-Font-Maintitle-Font-Size, 3rem);
    line-height: var(--Color-Font-Maintitle-Line-Height, 3.375rem);
    margin-top: var(--Color-Font-Maintitle-Margin-Top, 0px);
    margin-bottom: var(--Color-Font-Maintitle-Margin-Bottom, 0px);
  }

  h2 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1f2937);
    font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
    font-size: var(--Color-Font-Subtitle-Font-Size, 40px);
    line-height: var(--Color-Font-Subtitle-Line-Height, 48px);
    margin-top: var(--Color-Font-Subtitle-Margin-Top, 24px);
    margin-bottom: var(--Color-Font-Subtitle-Margin-Bottom, 0px);
  }

  h3 {
    font-style: normal;
    font-weight: 400;
    color: var(--Color-Font-Main, #1f2937);
    font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
    font-size: var(--Color-Font-Subsubtitle-Font-Size, 32px);
    line-height: var(--Color-Font-Subsubtitle-Line-Height, 43px);
    margin-top: var(--Color-Font-Subsubtitle-Margin-Top, 20px);
    margin-bottom: var(--Color-Font-Subsubtitle-Margin-Bottom, 0px);
  }

  p {
    margin-top: var(--Basic-Fontsize-Paragraph-Margin-Top, 8px);
  }

  a {
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: var(--Color-Font-Link, #d8232a);
    font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
    font-size: var(--Color-Font-Paragraph-Font-Size, 18px);
    line-height: var(--Color-Font-Paragraph-Line-Height, 28px);
  }

  /* Respect inline formatting by rich text editor */
  span.smaller a,
  span.larger a,
  span.stabiloboss a,
  span.bold a,
  span.italic a,
  span.mono a,
  span.subscript a,
  span.superscript a {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}


footer a {
  color: white !important;
  text-decoration: underline !important;
  font-style: normal;
  font-weight: 400;
  font-family: var(--Basic-Font-Family-Font-Family, 'Noto Sans'), sans-serif;
  font-size: var(--Color-Font-Header-Elements-Font-Size, 14);
  line-height: var(--Color-Font-Header-Elements-Line-Height, 18px);
}

footer a:hover {
    color: #dfe4e9 !important;
}