@import "../r/input.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    @media (min-width: 1536px) {
        .container {
            max-width: 1440px;
        }
    }
}
