@import "../r/input.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%
    }

    @media (max-width: 480px) {
        .container {
            max-width: 100%;
            padding: 0 1.25rem;
        }
    }

    @media (min-width: 480px) {
        .container {
            max-width: 100%;
            padding: 0 1.25rem;
        }
    }

    @media (min-width: 640px) {
        .container {
            max-width: 100%;
            padding: 0 2.25rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 100%;
            padding: 0 2.25rem;
        }
    }

    @media (min-width: 1536px) {
        .container {
            max-width: 1440px;
            padding: 0 3rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            padding-left:2.5rem;
            padding-right: 2.5rem
        }
    }

    @media (min-width: 1280px) {
        .container {
            padding-left:3rem;
            padding-right: 3rem
        }
    }

    @media (min-width: 1920px) {
        .container {
            padding-left:4rem;
            padding-right: 4rem
        }
    }
}
