@import "../r/input.css";

@tailwind components;
@tailwind utilities;

/*Do not import tailwind base. We have the replacement from custom css*/
/*@tailwind base;*/

@layer components {
    @media (max-width: 480px) {
        .container {
            max-width: 100%;
            padding: 0 1.25rem;
        }
    }

    @media (min-width: 480px) {
        .container {
            max-width: 100%;
            padding: 0 1.25rem;
        }
    }

    @media (min-width: 640px) {
        .container {
            max-width: 100%;
            padding: 0 1.75rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 100%;
            padding: 0 2.25rem;
        }
    }

    @media (min-width: 1536px) {
        .container {
            max-width: 1440px;
            padding: 0 3rem;
        }
    }
}
