/*Override base styles*/
.hot {
    color: #047857
}

select {
    padding-top: 8px;
    padding-bottom: 8px;
}

input[type=submit] {
    background: #596978;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


fieldset {
    background-color: white;
    border: 1px solid #555;
    border-radius: 12px;
    margin: 0 0 20px 0;
    padding: 25px;
    font-size: 104%;
    color: #555;
    width: 100%;
}

fieldset legend {
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    color: #1c2834;
    font-size: 1.25rem;
    margin-left: 4px;
}

/* Language Switcher Styles */
.lang-dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: #4a5568;
    text-align: center;
    height: 48px;
}

.lang-dropdown a:hover {
    background-color: #f7fafc;
}

.lang-dropdown a.active {
    border-left: 5px solid #e53940;
    padding-left: 0.75rem;
}

/* End Language Switcher Styles */

.imgBoxRight dd {
    font-size: .8em;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    padding: 15px;
    background: #F0F4F7;
    cursor: default;
    border-radius: 4px;
}

.imgBoxLeft dd {
    font-size: .8em;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    padding: 15px;
    background: #F0F4F7;
    cursor: default;
    border-radius: 4px;
}

.showblockinactivetab, .showblock2inactivetab {
    display: block;
    background: #F0F4F7;
    padding: 4px;
    margin-left: -2px;
}

.right-sidebar h1 {
    font-size: 2rem;
    font-weight: 500;
}

.right-sidebar h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.right-sidebar h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.right-sidebar h4 {
    font-size: 1rem;
    font-weight: 500;
}

.right-sidebar h5 {
    font-size: .875rem;
    font-weight: 500;
}

.right-sidebar a:visited {
    color: inherit;
}

.right-sidebar a:hover {
    text-decoration: none;
    color: #1c2834;
    transition: color .3s ease;
}

header a {
    color: inherit;
}

.arrow-right-icon {
    transition: transform .2s;
}

a:hover .arrow-right-icon {
    transform: translateX(5px);
}

.showblockclose {
    margin-top: -7px;
    margin-right: 0;
    color: inherit;
    font-weight: 400;
}

.showblockclose:hover {
    color: #e53940;
}

.showblockactivetab,
.showblockinactivetab {
    background: #e7e5e4;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
}

.showblockactivetab,
.showblockinactivetab,
.showblock2activetab,
.showblock2inactivetab {
    background: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 42px;
    border-color: #acb4bd;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left: 0;
    border-right: 0;
    color: inherit;
    font-weight: bold;
    position: relative;
    border-radius: 0;
}

.showblockactivetab:hover,
.showblockinactivetab:hover,
.showblock2activetab:hover,
.showblock2inactivetab:hover {
    color: #e53940;
}

.showblockactivetab::after,
.showblockinactivetab::after,
.showblock2activetab::after,
.showblock2inactivetab::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 32px;
    /* Adjust to your needs */
    height: 32px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='m5.706 10.015 6.669 3.85 6.669-3.85.375.649-7.044 4.067-7.044-4.067z' fill='currentColor'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    transition: transform 0.2s ease;
}

/* change color on hover */
.showblockactivetab:hover::after,
.showblockinactivetab:hover::after,
.showblock2activetab:hover::after,
.showblock2inactivetab:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m5.706 10.015 6.669 3.85 6.669-3.85.375.649-7.044 4.067-7.044-4.067z' fill='%23e53940'/%3E%3C/svg%3E");
}

.showblockactivetab::after,
.showblock2activetab::after {
    transform: translateY(-50%) rotate(180deg);
}

.showblock2divinner + br {
    display: none;
}

.showblock2divinner {
    width: 100%;
    overflow: hidden;
    padding: 0;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
    background: inherit;
    border: 0;
    position: relative;
}

.showblock2divinner:after {
    display: block;
}

.showblock2divinner {
    overflow: auto;
    padding: 8px;
}

.showblock2close {
    display: none;
}
